table {
    font-family: 'Courier New', monospace;
    border: none;
    /* margin-left: auto;
    margin-right: auto; */
}

td > a {
    color: #404040;
    font-weight: bold;
    font-size: 90%;
    display: block;
    text-align: center;
    text-decoration: underline;
}

table td {
	padding: 15px;
    text-align: center;
}
table thead td {
    align-content: center;
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	border: 1px solid #54585d;
}

table tr:last-child td:first-child {
    border-top-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-top-right-radius: 10px;
}

table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
