body {
    font-family: 'Courier New', monospace;
    font-size: 150%;
    margin-left: 10%;
    margin-top: 5%;
}

/* comment */
.active {
    border-radius: 5px
}

nav {
    display: flex;
}

nav > a {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px 16px;
}
